div#header(class="header")
    style
            include ../../public/styling.css
    a(href="/" class="header-button") Home 
    |
    a(href="/users" class="header-button") Users  
    |
    a(href="/register" class="header-button") Register  
    |
    a(href="/login" class="header-button") Login
    br
