html
    head
        title Home Page
        
    body
        #status
            if status
                include ../partials/header
            else
                include ../partials/loggedOutHeader

    div#main
        br
        br
        h1 Welcome!
        br
        |Here you can log in and place an order to a restaurant.
        br
        |You can also view other user profiles.
